* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f7fe;
  font-family: "Montserrat", sans-serif;
  background: url("/images/bg-top.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

.topImg {
  position: absolute;
  width: 70%;
  max-width: 725px;
  height: 50%;
  left: 60%;
  top: -2%;
  z-index: -2;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

h1 {
  color: #6e728e;
  font-size: 2rem;
  font-weight: bold;
  margin: 5vh 0 2vh 0;
  text-align: center;
}

.buttonSection {
  display: flex;
  justify-content: space-between;
  gap: 0 25px;
}

.buttonSection p {
  color: #6e728e;
  font-size: 0.9375rem;
  line-height: 1.75rem;
  opacity: 0.5;
}

/*------------Checkbox styles -----------
https://www.w3schools.com/howto/howto_css_switch.asp
*/
.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 32px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, #a2a7f0 0%, #696edd 100%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:hover {
  opacity: 0.5;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 16px;
}

.slider.round:before {
  border-radius: 50%;
}

/*-------------card styles ----------------*/
.card {
  box-shadow: 0px 20px 40px rgba(212, 210, 244, 0.5);
  border-radius: 10px;
  height: 453px;
  width: 327px;
  margin-top: 3vh;
  text-align: center;

  position: relative;
}

.cardTitle {
  position: relative;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.75rem;
  text-align: center;
  padding-top: 35px;
}

.card h2 {
  font-weight: bold;
  font-size: 72px;
  line-height: 71px;
  letter-spacing: -2.16px;
  padding-top: 20px;
}

.card:nth-child(odd) {
  background-color: #ffffff;
}

.card:nth-child(odd) .cardTitle {
  color: #6e728e;
}

.card:nth-child(odd) h2 {
  color: #4a4d60;
}

.card:nth-child(even) h2 {
  color: #fff;
}

.card:nth-child(odd) li {
  color: #6e728e;
}

.card:nth-child(even) li {
  color: #fff;
}

.card:nth-child(even) {
  background: linear-gradient(135deg, #a2a7f0 0.06%, #696edd 100.06%);
  color: #ffffff;
}

.featureList {
  margin-top: 50px;
}

.card li:nth-of-type(1) {
  border-top: 1px solid;
  margin: 0 12% 0 12%;
}

.card li:nth-of-type(2) {
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin: 0 12% 0 12%;
}

.card li:nth-of-type(3) {
  border-bottom: 1px solid;
  margin: 0 12% 0 12%;
}

li {
  font-weight: bold;
  font-size: 0.9375rem;
  line-height: 1.75rem;
  list-style-type: none;
  text-decoration: none;
  padding: 10px 0;
}

.cardButton {
  border: none;
  border-radius: 6px;
  font-family: Montserrat;
  letter-spacing: 1.39286px;
  height: 44px;
  width: 269px;
  font-size: 0.8125rem;
  font-weight: bold;
  line-height: 1rem;

  position: absolute;
  left: 8.8685%;
  right: 0%;
  top: 83.75%;
  bottom: 0%;
}

.card:nth-child(odd) .cardButton {
  background: linear-gradient(135deg, #a2a7f0 0%, #696edd 100%);
  color: #fff;
}

.card:nth-child(even) .cardButton {
  color: #6d72de;
}

.oddHover:hover {
  background: #fff;
  border: 1px solid #6d72de;
  color: #6d72de;
  cursor: crosshair;
}

.card:nth-child(odd) .cardButton:hover {
  background: #fff;
  border: 1px solid #6d72de;
  color: #6d72de;
}

.cardButton:nth-child(even):hover {
  background-color: #6d72de;
  border: 1px solid #fff;
  color: #fff;
}

.cardButton:hover {
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 1100px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    background: url("/images/bg-bottom.svg"), url("/images/bg-top.svg");
    background-repeat: no-repeat;
    background-position: bottom left, top right;
  }

  .container {
    margin: 0 10% 0 10%;
  }

  .cardSection {
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
  }

  .card {
    width: 350px;
  }

  .card:nth-child(odd) {
    margin-top: 48px;
  }

  .card:nth-child(even) {
    padding: 24px 0;
  }

  .attribution {
    margin-top: 5vh;
  }
}
